---
layout: default
title: Home
---

<!-- Home Jumbotron
================================================== -->    
<section class="intro full-width">
    <div class="wrapintro">
        <h1>JASA PEMBUATAN WEBSITE MURAH & BERKUALITAS</h1>
        <h2 class="lead">Website Perusahaan ,Website Personal, Website Toko Online, Website Sekolah, Website Rental, Website Pernikahan, Website Berita, Website UMKM, Website Jasa, Website Blog </h2>    
        <a href="https://api.whatsapp.com/send?phone=628563232503&text=Halo%20kak%2C%20saya%20ingin%20membuat%20website%20untuk%20bisnis%20saya%20dibidang%20%3A%0A%0AEmail%20saya%20%3A%0A%0AMohon%20hubungi%20saya%20segera%0A" class="btn">PESAN WEBSITE SEKARANG</a>
    </div>
</section>

<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}    

<section class="recent-posts row">

    <div class="col-sm-4">
        {% include sidebar.html %}
    </div>

    <div class="col-sm-8">

        <div class="section-title">
            <h2><span>Blog</span></h2>    
        </div>

        <div class="masonrygrid row listrecent">

            {% for post in paginator.posts %}

            {% unless post.featured == true %}

                {% include postbox.html %}

            {% endunless %}

            {% endfor %}

        </div> 

        <!-- Pagination -->
        <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div>

    </div>

</section>