---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import
	"syntax"
;

html {
  scroll-behavior: smooth;
}

.intro {
    
    background-image:url(../images/laptop.jpg);
    //background-image:none;
    //background-image: linear-gradient(218deg,#3cc4fe 0,#1474ff 100%);
    background-size:cover;
    margin-bottom:0px;
    background-color:#0098ef;
    background-blend-mode: multiply;

}

.intro h1 {
font-weight:400;
color:#fff;
}

.intro h2 {
color:#fff;
}

.intro .btn {
background:#fc3;
color:#4a5669;
}

.intro a:hover {
background:#fff100;
color:#000;
}

.intro:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 14.2vw;
    background-image: url(../images/curve.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    z-index: 2;
}

.wrapintro {
  background:none;
  margin: 0px auto;
  width:auto;
}

.logo {width:75%}

.moto{
background-image: url(../images/moto.png);
background-size: contain;
background-repeat: no-repeat;

background-position:center top;
margin:40px 0px 40px 0px;

}

.who {
text-align:center;
padding:30px 0px;
}

.who h3{
margin-bottom:30px;
padding:30px 30px;
}

.layanan {
    text-align:center;
  padding-bottom:50px;
background:#0098ef;
color:#fff;
}

.layanan h3 {
text-align:center;
padding:50px 30px 50px 30px;
}

.layanan h5{
  margin-top:15px;
  text-align:center;
}

.footer {
    text-align: left;
}

.layanan ul {
  list-style: none;
  padding-left:0px;

}

.layanan ul li {
  padding-inline-start: 0px;
}

.layanan ul li:before { content:"\2714\0020"; }

#loading {
		-webkit-animation: rotation 2s infinite linear;
		display:block;
		width:100%;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

@media (min-width: 575px) {
  .logo {
    width:100%;
  }
  
  .wrapintro {
    padding-bottom:70px;
    text-align: left;
    }
    
  #loading{
  display:block;
  }
  
  .moto{
  max-width:300px;

  }
}


@media (min-width: 991px) {
  .wrapintro {
  margin-left:0px;  
  padding-top:0px;
  }
  
  .moto{
  margin:0px 0px 0px 0px;
  display:block;
  }
  
  #loading{
  display:block;
  }

}


@media (min-width: 1119px) {
  .wrapintro {
  margin-left:0px;
  }
}





